{% extends 'faculty/facultytemplate.html' %}

{% block title %} Books {% endblock %}

{% block content %}

<div class="main_content">
    <div class="location">
        <i class="fas fa-book"></i><span>Books</span>
    </div>


<div class="book_div">
    <div class="book_upload">
        {% with message = get_flashed_messages() %}
        {% if message %}
            {% for msg in message %}
                <div class="alert">
                    <div class="group">
                        <p>
                            {{msg}}
                        </p>
                        <i class="fas fa-times" onclick="this.parentNode.parentNode.remove()"></i>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <div class="title">
            Upload Book
        </div>
        
        <form action="" method="post" enctype="multipart/form-data" >
            <input type="text" name="book_name" id="book_name" placeholder="Enter Book Name" autocomplete="off" required>
            <input type="text" name="book_des" id="book_des" placeholder="Enter Book Description" autocomplete="off" required>
            <div class="select_option">
                <label for="branch">Select Branch</label>
                <select name="branch" id="branch" required>
                    <option value="">Please Select Branch</option>
                    <option value="Computer Technology">Computer Technology</option>
                    <option value="Electrical Engineering">Electrical Engineering</option>
                    <option value="Electrionics and Telecommunication Engineering">Electrionics and Telecommunication Engineering</option>
                    <option value="Information Technology">Information Technology</option>
                    <option value="Computer Engineering">Computer Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                </select>
            </div>
            <div class="select_option">
                <label for="year">Select Year</label>
                <select name="year" id="year" required>
                    <option value="">Please Select Year</option>
                    <option value="1st Year">1st Year</option>
                    <option value="2nd Year">2nd Year</option>
                    <option value="3rd Year">3rd Year</option>
                    <option value="4th Year">4th Year</option>
                </select>
            </div>
            <!-- <div class="center"> -->
                <input type="file" name="book" id="book" required>
            <!-- </div> -->
            <button type="submit">Upload Book</button>
        </form>
    </div>
</div>
</div>  

{% endblock %}