{% extends 'admin/admintemplate.html' %}

{% block title %} Add Faculty {% endblock %}

<!-- {% block profile_img %}
    <img src="static/img/{{session['img']}}" alt="Profile image">
    <p>{{session['name']}}</p>

{%endblock%} -->

{% block content %}

<div class="main_content">
    <div class="location">
        <i class="fas fa-user-plus"></i> <span>Add New Faculty</span>
    </div>

    <div class="addfaculty">

        {% with message = get_flashed_messages() %}
            {% if message %}
                {% for msg in message %}
                    <div class="alert">
                        <div class="group">
                            <p>
                                {{msg}}
                            </p>
                            <i class="fas fa-times" onclick="this.parentNode.parentNode.remove()"></i>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="title">
            Add New Faculty
        </div>
        <form action="/addfaculty" method="post" onsubmit="return validationForm()">
            <div class="form-control">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name" placeholder="Enter Full Name" autocomplete="off" required>
            </div>
            <div class="form-control">
                <label for="mob">Mobile No.</label>
                <input type="text" name="mob" id="mob" placeholder="Enter Mobile Number" autocomplete="off" required>
                <div class="msg_alert" id='mob_error' style="margin-top: 0.5rem;"></div>
            </div>
            <div class="form-control">
                <label for="email">Email Address</label>
                <input type="email" name="email" id="email" placeholder="Enter Faculty Email" autocomplete="off" required>
            </div>
            <div class="form-control">
                <label for="pass">Password</label>
                <input type="password" name="pass" id="pass" placeholder="Enter Password" autocomplete="off" required>
            </div>
            <div class="form-control">
                <label>User Type: </label>
                <input type="radio" name="type" id="admin" value="admin" required>
                <label for="admin">Admin</label>
                <input type="radio" name="type" id="faculty" value="faculty" required>
                <label for="faculty">Faculty</label>
            </div>
            <button type="submit">Add Faculty</button>
        </form>
    </div>

    <script>
        console.log('Hello')
        function validationForm(){
            var mob = document.getElementById('mob');
            var testmob = /^\d{10}$/;
            if (!mob.value.match(testmob)){
                document.getElementById('mob_error').innerHTML = "Please entered valid mobile number."
                return false;
            }
            return true;
        }
    </script>

{% endblock %}